presentazione/*
.Rhistory
.RData
tesina/tesina_speziali_suicideEDA.aux
tesina/tesina_speziali_suicideEDA.fdb_latexmk
tesina/tesina_speziali_suicideEDA.fls
tesina/tesina_speziali_suicideEDA.log
tesina/tesina_speziali_suicideEDA.synctex.gz
tesina/IEEEtran_HOWTO.pdf
tesina/fig1.png
tesina/conference_101719.pdf
.Rhistory
